<hr class="dark" />
<div class="text-center">
    <a href="https://twitter.com/jbrinkman"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/joebrinkman/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://github.com/jbrinkman"><i class="fa fa-github" aria-hidden="true"></i></a>
</div>