		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a href="#">Joe Brinkman</a></h1>

				<!-- Text -->
					<section class="box text-style1">
						<div class="inner">
							<p>
                                @if(Context.String(BlogKeys.Description) != null)
                                {
                                    <h1>@Context.String(BlogKeys.Description)</h1>
                                }
                                @if(Context.String(BlogKeys.Intro) != null)
                                {            
                                    @if(Context.String(BlogKeys.Description) != null)
                                    {
                                        <hr>
                                    }
                                    <span>@Context.String(BlogKeys.Intro)</span>
                                }
							</p>
						</div>
					</section>

                <!-- Nav -->
					<nav id="nav">
						<ul>
                            @{
                                List<Tuple<string, string>> pages = Context
                                    .Documents[Blog.Pages]
                                    .Where(x => x.Bool(BlogKeys.ShowInNavbar, true))
                                    .Where(x => x.FilePath(Keys.RelativeFilePath)?.FullPath?.StartsWith("index") == (bool?)false)
                                    .Select(x => Tuple.Create(x.WithoutSettings.String(Keys.Title), Context.GetLink(x)))
                                    .Where(x => !string.IsNullOrEmpty(x.Item1))
                                    .OrderBy(x => x.Item1)
                                    .ToList();
                                if(Documents[Blog.BlogPosts].Any() && Context.Bool(BlogKeys.GenerateArchive))
                                {
                                    pages.Insert(0, Tuple.Create("Archive", Context.GetLink(Context.String(BlogKeys.PostsPath) + "/index.html")));
                                }
                                if(Documents[Blog.Tags].Any())
                                {
                                    pages.Insert(0, Tuple.Create("Tags", Context.GetLink("tags/index.html")));
                                }
                                foreach(Tuple<string, string> page in pages)
                                {
                                    <li><a href="@page.Item2">@page.Item1</a></li>
                                }
                            }
						</ul>
					</nav>

				<!-- Search -->
					<section class="box search">
						<form method="post" action="#">
							<input type="text" class="text" name="search" placeholder="Search" />
						</form>
					</section>



				<!-- Recent Posts -->
<!--					<section class="box recent-posts">
						<header>
							<h2>Recent Posts</h2>
						</header>
						<ul>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Feugiat nisl aliquam</a></li>
							<li><a href="#">Sed dolore magna</a></li>
							<li><a href="#">Malesuada commodo</a></li>
							<li><a href="#">Ipsum metus nullam</a></li>
						</ul>
					</section>
-->
				<!-- Recent Comments -->
<!--					<section class="box recent-comments">
						<header>
							<h2>Recent Comments</h2>
						</header>
						<ul>
							<li>case on <a href="#">Lorem ipsum dolor</a></li>
							<li>molly on <a href="#">Sed dolore magna</a></li>
							<li>case on <a href="#">Sed dolore magna</a></li>
						</ul>
					</section>
-->
				<!-- Calendar -->
					<section class="box calendar">
						<div class="inner">
							<table>
								<caption>July 2014</caption>
								<thead>
									<tr>
										<th scope="col" title="Monday">M</th>
										<th scope="col" title="Tuesday">T</th>
										<th scope="col" title="Wednesday">W</th>
										<th scope="col" title="Thursday">T</th>
										<th scope="col" title="Friday">F</th>
										<th scope="col" title="Saturday">S</th>
										<th scope="col" title="Sunday">S</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="4" class="pad"><span>&nbsp;</span></td>
										<td><span>1</span></td>
										<td><span>2</span></td>
										<td><span>3</span></td>
									</tr>
									<tr>
										<td><span>4</span></td>
										<td><span>5</span></td>
										<td><a href="#">6</a></td>
										<td><span>7</span></td>
										<td><span>8</span></td>
										<td><span>9</span></td>
										<td><a href="#">10</a></td>
									</tr>
									<tr>
										<td><span>11</span></td>
										<td><span>12</span></td>
										<td><span>13</span></td>
										<td class="today"><a href="#">14</a></td>
										<td><span>15</span></td>
										<td><span>16</span></td>
										<td><span>17</span></td>
									</tr>
									<tr>
										<td><span>18</span></td>
										<td><span>19</span></td>
										<td><span>20</span></td>
										<td><span>21</span></td>
										<td><span>22</span></td>
										<td><a href="#">23</a></td>
										<td><span>24</span></td>
									</tr>
									<tr>
										<td><a href="#">25</a></td>
										<td><span>26</span></td>
										<td><span>27</span></td>
										<td><span>28</span></td>
										<td class="pad" colspan="3"><span>&nbsp;</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>

				<!-- Copyright -->
					<ul id="copyright">
						<li>&copy; Joe Brinkman</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

